body {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #c5e4e7;
  font-family: "space Mono";
  overflow: hidden;
}

input, button {
  font-family: "space Mono";
}

.container {
  width: 375px;
  height: 100vh;
}
.container .title {
  width: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #5e7a7d;
}
.container .title h1 {
  margin: 0;
  padding: 0;
  letter-spacing: 8px;
  font-size: 20px;
}
.container .app-container {
  width: 100%;
  min-height: 90vh;
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .app-container .app {
  height: 90vh;
  width: 85%;
}
.container .app-container .app .bill {
  width: 100%;
  color: #7f9c9f;
  position: relative;
  margin-bottom: 20px;
}
.container .app-container .app .bill h2 {
  color: #7f9c9f;
  font-size: 16px;
}
.container .app-container .app .bill label object {
  position: absolute;
  left: 5%;
  top: 55%;
  z-index: 2;
}
.container .app-container .app .bill label input {
  font-weight: 700;
  color: #00494d;
  display: block;
  border: none;
  width: 90%;
  padding: 8px 15px;
  border-radius: 5px;
  background-color: #f4fafa;
  direction: rtl;
  font-size: 24px;
}
.container .app-container .app .bill label input:active, .container .app-container .app .bill label input:focus {
  border: none;
  outline: #26c0ab 2px solid;
}
.container .app-container .app .select {
  width: 100%;
  margin-bottom: 30px;
}
.container .app-container .app .select h2 {
  color: #7f9c9f;
  font-size: 16px;
}
.container .app-container .app .select .grid {
  display: grid;
  grid-template: 1fr/1fr 1fr;
  grid-gap: 5%;
}
.container .app-container .app .select .grid input {
  width: 96%;
  border: none;
  direction: rtl;
}
.container .app-container .app .select .grid input, .container .app-container .app .select .grid button {
  padding: 5px 0;
  font-size: 24px;
}
.container .app-container .app .select .grid button {
  color: white;
  font-weight: 700;
  background-color: #00494d;
  outline: none;
  border: none;
  border-radius: 5px;
}
.container .app-container .app .select .grid button.active {
  background-color: #26c0ab;
}
.container .app-container .app .number {
  width: 100%;
  color: #7f9c9f;
  position: relative;
  margin-bottom: 20px;
}
.container .app-container .app .number h2 {
  color: #7f9c9f;
  font-size: 16px;
}
.container .app-container .app .number label object {
  position: absolute;
  left: 5%;
  top: 55%;
  z-index: 2;
}
.container .app-container .app .number label input {
  font-weight: 700;
  color: #00494d;
  display: block;
  border: none;
  width: 90%;
  padding: 8px 15px;
  border-radius: 5px;
  background-color: #f4fafa;
  direction: rtl;
  font-size: 24px;
}
.container .app-container .app .number label input:active, .container .app-container .app .number label input:focus {
  border: none;
  outline: #26c0ab 2px solid;
}
.container .app-container .app .result {
  background-color: #00494d;
  border-radius: 10px;
  padding: 30px;
}
.container .app-container .app .result p {
  padding: 0;
  margin: 0;
}
.container .app-container .app .result .amount, .container .app-container .app .result .Total {
  color: white;
  display: flex;
  justify-content: space-between;
}
.container .app-container .app .result .amount p, .container .app-container .app .result .Total p {
  font-size: 16px;
  font-weight: 700;
}
.container .app-container .app .result .amount span, .container .app-container .app .result .Total span {
  font-size: 12px;
  font-weight: 700;
  color: #c5e4e7;
}
.container .app-container .app .result .amount .right, .container .app-container .app .result .Total .right {
  font-size: 24px;
  font-weight: 700;
  color: #26c0ab;
}
.container .app-container .app .result .Total {
  margin-bottom: 10px;
}
.container .app-container .app .result .reset button {
  font-weight: 700;
  color: #00494d;
  background-color: #26c0ab;
  border: none;
  outline: none;
  font-size: 20px;
  width: 100%;
  padding: 5px 0;
  border-radius: 5px;
}

/*# sourceMappingURL=style.css.map */
