$StrongCyan: hsl(172, 67%, 45%);
$VeryDarCyan: hsl(183, 100%, 15%);
$DarkGrayishCyan: hsl(186, 14%, 43%);
$DarkGrayishCyan2: hsl(184, 14%, 56%);
$LightGrayishCyan: hsl(185, 41%, 84%);
$LightGrayishCyan2: hsl(189, 41%, 97%);
$White: hsl(0, 0%, 100%);


body{
    box-sizing: border-box;
    margin : 0;
    padding : 0;
    background-color: $LightGrayishCyan;
    font-family:"space Mono";
}
input,button{
    font-family:"space Mono";
}

.container{

    max-width : 23rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    .title{
        width : 100%;
        display: flex;
        flex-direction:column ;
        justify-content: center  ;
        align-items: center;
        h1{
            margin : 0;
            padding: 0;
            letter-spacing: 0.5rem;
            font-size: 1.25rem;
            color: $DarkGrayishCyan;
        }
    }
    .app-container{
        min-width : 100%;
        background-color: $White;
        border-radius: 1.25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .app1 ,.app2{
            // min-width: 85%;
            width: 85%;
            .bill
            {   
                h2{
                    color :hsl(184, 14%, 56%);
                    font-size : 1rem;
                }
                width : 100%;
                color :hsl(184, 14%, 56%);
                position: relative;
                label{
                    object{
                        position: absolute;
                        left: 5%;
                        top:56%;
                        z-index: 2;
                    }
                    input{
                        font-weight: 700;
                        color : $VeryDarCyan;
                        display: block;
                        border : none;
                        width : 90%;
                        padding : 0 1rem;
                        border-radius: 0.3125rem;
                        background-color:$LightGrayishCyan2;
                        direction: rtl;
                        font-size: 1.5rem;
                        &:active , &:focus{
                            border: none;
                            outline: $StrongCyan 2px solid;
                        }
                    }
                }
            }

            .select{
                width : 100%;
                margin-bottom :1rem; 
                h2{
                    color :hsl(184, 14%, 56%);
                    font-size : 1rem;
                }
                .grid{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 5%;
                    align-content: center;
                    
                    input {
                        width : 96%;
                        border : none;
                        direction: rtl;
                    }
                    input,button{
                        font-size : 1.25rem;
                    }
                    button{
                        color :$White;
                        font-weight: 700;
                        background-color: $VeryDarCyan;
                        outline: none;
                        border:none;
                        border-radius: 5px;
                        &.active{
                            background-color: $StrongCyan;
                            
                        }
                    }
                }
                // margin-bottom: 1.8rem;
            }

            .number
            {   
                h2{
                    color :hsl(184, 14%, 56%);
                    font-size : 1rem;
                }
                width : 100%;
                color :hsl(184, 14%, 56%);
                position: relative;
                margin-bottom: 1.25rem;
                label{
                    font-weight: 700;
                    
                    object{
                        position: absolute;
                        left: 5%;
                        top:55%;
                        z-index: 2;
                    }
                    input{
                        font-weight: 700;
                        color : $VeryDarCyan;
                        display: block;
                        border : none;
                        width : 90%;
                        padding : 0 15px;
                        border-radius: 5px;
                        background-color:$LightGrayishCyan2;
                        direction: rtl;
                        font-size: 1.5rem;
                        &:active , &:focus{
                            border: none;
                            outline: $StrongCyan 2px solid;
                        }
                    }
                }
            }

            
        }
        .app2{
            .result{
                background-color: $VeryDarCyan;
                border-radius: 10px;
                padding :20px;
                margin-bottom : 1.5rem;
                p{
                    padding: 0;
                    margin: 0;
                }
                .amount , .Total{
                    color : $White;
                    display: flex;
                    justify-content: space-between;
                    p{
                        font-size: 1rem;
                        font-weight: 700;
                    }
                    span{
                        font-size: 12px;
                        font-weight: 700;
                        color : $LightGrayishCyan;
                    }

                    .right{
                        font-size : 1.5rem;
                        font-weight: 700;
                        color : $StrongCyan;
                    }
                }

                .Total{
                    margin-bottom: 10px;
                }

                .reset{
                    button{
                        font-weight: 700;
                        color : $VeryDarCyan;
                        background-color: $StrongCyan;
                        border : none;
                        outline: none;
                        font-size:1.5rem;
                        width : 100%;
                        padding : 5px 0;
                        border-radius: 5px;

                    
                        
                    }

                }
            }
        }
    }
}

@media (min-width : 60rem){
    .container{
        max-width : 90%;
    .app-container{
        flex-direction: row !important;
        justify-content: space-evenly;
        .app1,.app2{
            width: 48% !important;  
            .select{
                .grid{

                    grid-template-columns: 1fr 1fr 1fr;
                }
            }          
        }
        .app2{
            margin-top:1%; 
            .reset{
                margin-top: 30%
            }
        }
    }
}
}